body {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: roboto, Arial, Helvetica, sans-serif;

}

.header {
    color: #f9faf8;
    background: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    
   
    

}

.containerA {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
   
    
}
.title {
    font-size: 48px;
}

.headline {
    color: #f9faf8;
    font: bolder, #f9faf8;
    background: #1f2937;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    padding-left: 100px;
    padding-right: 80px;
    padding-bottom: 40px;
    

}

.Logo {
    background: #1f2937;
    padding: 10px 20px;
    display: flex;
    flex: 1;
   
}

.waterlogo {
    width: 400px;
    height: 250px;
    border: none;
    border-radius: 0.50rem;
    flex: 1;
   
}
.random {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

li {
    text-decoration: none;
    list-style: none;
    display: inline;
   

}

.links {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    font-size: 11px;
    
 
}


img {
    width: 100px;
    height: 100px;
    border-radius: 0.50rem;
    border: 5px solid #3882f6;
    

}

button {
    border: 0;
    border-radius: 0.25rem;
    background: #3882f6;
    color: white;
    font-family: -system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.90rem;
    margin-top: 8px;
    cursor: pointer;
      
}




.container1 {
    font-size: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    width: auto; 
    height: auto;
    flex-wrap: wrap;
    padding: 5px 5px;
    margin-bottom: 50px;

}

.container2 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color:#e5e7eb ;
    background: #3882f6;
    border: 10px;
    border-radius: 8px;
    margin: 30px;
    padding: 30px;
    
    
    

}

.call {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}


.containerC {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #e5e7eb;
    font-size: 36px, #1f2937;
    padding: 40px;
    
}

.quote {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #e5e7eb;
    font-size: 20px;
    color: #1f2937;
    padding: 20px 20px;
    flex: 1;
    margin-left: 100px;
    margin-right: 100px;
    
}

 .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-basis: 0;
    border-radius: 8px;
    

    
}



.buttonB {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 0.25rem;
    background: #3882f6;
    font-family: -system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.90rem;
    margin: 0.25rem;
    margin-left: 60px;
    cursor: pointer;
      
}

.text {
    padding: 5px 5px;
    text-align: center;
}


.footer {
    font-size: 11px;
    color: #e5e7eb;
    background: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    flex: 1;

}